<div class="wrapper">
    <div class="task-detail" *ngIf="taskDetail$ | async as taskDetail">
        <mat-progress-bar class="spinner" *ngIf="isSpinnerLoading$| async" mode="indeterminate"></mat-progress-bar>
        <div class="task-detail__item ">
            <p class="label">Description: </p>
            <p class="content"> {{taskDetail?.description}}</p>
        </div>
        <div class="task-detail__item">
            <p class="label">Status: </p>
            <p class="content">{{taskDetail?.completed | getTaskStatus}}</p>

        </div>
        <div class="task-detail__item">
            <p class="label">Assignee:</p>
            <p class="content">{{(taskDetail?.assigneeId | getAssigneeById: (this.user$ |
                async))?.name}}</p>
        </div>
        <button class="back" mat-raised-button color="primary" [routerLink]="['/tasks']">Back to
            list</button>
    </div>