.wrapper{
  height: 100%;
}
  .mdc-data-table__content ,.mat-mdc-row{
    &:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,0.1) !important;
    }
  }

.actions {
  button{
    width: 100%;
  }
}

.add-task-button{
  margin-top: 10px;
}

.completed{
  color: #52D452;
}

.header-wrapper{
  display: flex;
  align-items: center;
  gap: 6px;
  
}

.list-search-bar{
  width: 100%;
  margin-bottom: 10px;
  .mat-mdc-form-field{
  width: 100%;
}
}
.mat-column-assigneeId {
  width: 15%;
}

.mat-column-completed{
  width: 15%;
}

.spinner{
  height: 10px;
  display: flex;
  align-items: flex-end;
}

.footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width:768px) {
  .mat-column-assigneeId{
    display: none;
  }
  }

